<form #optionForm="ngForm">
    <div class="form-block">
        <section class="form-block">
            <div class="form-group">
                <label>Configure connection</label>
                <div>
                    <button class="btn btn-primary" id="connectButton" (click)="showEditConnectionDialog()">Connect to
                        db
                    </button>
                </div>

                <clr-modal [(clrModalOpen)]="editConnectionDialogIsShown">
                    <h3 class="modal-title">DB Connection dialog</h3>
                    <div class="modal-body">
                        <form  [formGroup]="dbConnectionForm" (ngSubmit)="onSubmit()" novalidate>
                            <section class="form-block">
                                <label>Edit db connection settings:</label>
                                <div class="form-group">
                                    <label class="left-block">dbUrl:</label>
                                    <input id="dbUrlInput" class="form-control" placeholder="jdbc:postgresql://localhost:5433/analyzer" formControlName="dbUrl" required>
                                </div>
                                <div class="form-group">
                                    <label class="left-block">Schema name:</label>
                                    <input class="form-control"  placeholder="public" formControlName="schemaName" required>
                                </div>
                                <div class="form-group">
                                    <label class="left-block">User:</label>
                                    <input class="form-control" placeholder="postgres" formControlName="user" required>
                                </div>
                                <div class="form-group">
                                    <label class="left-block">Password:</label>
                                    <input class="form-control" type="password" placeholder="Enter password" formControlName="password" required>
                                </div>
                                <div *ngIf="connectionInfoIsInvalid;else other_content">
                                    <div class="alert alert-danger">
                                        <div class="alert-items">
                                            <div class="alert-item static">
                                                <div class="alert-icon-wrapper">
                                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                                </div>
                                                <span class="alert-text">Please, fill in connection info</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ng-template #other_content>
                                    <div class="alert alert-success">
                                        <div class="alert-items">
                                            <div class="alert-item static">
                                                <div class="alert-icon-wrapper">
                                                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                                                </div>
                                                <span class="alert-text">Connection info is filled</span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </section>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline" (click)="closeEditConnectionDialog()">Cancel
                        </button>
                        <button type="button" class="btn btn-primary" [disabled]="dbConnectionForm.pristine"
                                (click)="saveConnectionConfig()">Save
                        </button>
                    </div>
                </clr-modal>
            </div>

            <div class="form-group">
                <label>Select table and analyze options:</label>
                <!--<div class="form-group">-->
                <div>

                    <clr-dropdown name="clr-dropdown-tables">
                        <button clrDropdownTrigger class="btn">
                            {{currentTableName}}
                            <clr-icon shape="caret down"></clr-icon>
                        </button>
                        <clr-dropdown-menu>
                            <a *ngFor="let tableName of tableNames | async" (click)="selectTable(tableName)"
                               clrDropdownItem>{{tableName}}</a>
                        </clr-dropdown-menu>
                    </clr-dropdown>

                </div>
                <br>
                <div class="checkbox">
                    <input type="checkbox" name="checkbox1" id="check_columns_added"
                           [(ngModel)]="analysisOptions.columns_added"
                           name="columns_added" checked>
                    <label for="check_columns_added">Table schema changed</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="checkbox2" id="check_rows_updated"
                           [(ngModel)]="analysisOptions.rows_updated"
                           name="rows_updated" checked>
                    <label for="check_rows_updated">Rows been updated</label>
                </div>
                <!--div class="checkbox">
                    <input type="checkbox" name="checkbox3" id="check_schema_version" [(ngModel)]="analysisOptions.schema_version"
                           name="schema_version" checked >
                    <label for="check_schema_version">Column type changed</label>
                </div-->

            </div>

            <button type="submit" class="btn btn-success" disabled="{{gatherDataIsDisabled ? true : undefined}}"
                    id="runButton" (click)="gatherData()">Gather Data
            </button>
            <button class="btn btn-primary" disabled="{{analyzeIsDisabled ? true : undefined}}" id="analyzeButton"
                    (click)="analyze()">Analyze
            </button>
            <button class="btn btn-outline" id="clearButton" (click)="clear()">Clear</button>

            <!--</section>-->
            <!--<section class="form-block">-->

            <br>
            <div *ngIf="isResultsAndErrorsAreHidden == false">
                <div align="left">
                    <div *ngIf="errors.length == 0">
                        <!-- Show results if there is no errors -->
                        <div *ngIf="columnSchemaChanges.length != 0">
                            <h3><b>Analysis results</b></h3>
                            <p>Table '{{currentTableName}}' column schema status: {{schemaStatus}}. Column changes:</p>
                            <clr-datagrid>
                                <clr-dg-column>Name</clr-dg-column>
                                <clr-dg-column>Action</clr-dg-column>
                                <clr-dg-column>Old Type</clr-dg-column>
                                <clr-dg-column>New Type</clr-dg-column>

                                <clr-dg-row *ngFor="let columnChange of columnSchemaChanges">
                                    <clr-dg-cell>{{columnChange.name}}</clr-dg-cell>
                                    <clr-dg-cell>{{columnChange.action}}</clr-dg-cell>
                                    <clr-dg-cell>{{columnChange.oldType}}</clr-dg-cell>
                                    <clr-dg-cell>{{columnChange.newType}}</clr-dg-cell>
                                </clr-dg-row>

                                <clr-dg-footer>{{columnSchemaChanges.length}} column schema changes</clr-dg-footer>
                            </clr-datagrid>
                        </div>
                        <div *ngFor='let result of results' class='is-info' align="bottom"><p>{{result}}</p></div>
                    </div>
                    <div *ngFor='let error of errors' class="is-error"> {{error}}</div>
                </div>


            </div>
            <br>

        </section>
    </div>

</form>
