body, input[text], text {
    color: red;
    font-family: Cambria, Georgia;
}

.is-error {
    color: #F52F22;
}

.is-info {
    color: #495A67;
}

.edit-connection-body {
    //height: 55vh;
    //width: 25vh;
}
